body {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #660000;
    color: white;
    padding: 5%;
    text-align: center;
    font-size: 35px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.section1 {
    color: white;;
    background-color: #582F0E;
}

.section2 {
    color: white;
    background-color: #656D4A;
}


.text {
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    max-width: 400px;
    border-radius: 8px;
}

.search {
    color: #582F0E;
    font-size: 20px;
    text-align: center;
    padding: 8%;
    background-color: #A4AC86;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.search form {
    display: block;
    margin: 0 auto;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #656D4A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover {
    background-color: #582F0E;
}

footer {
    background-color: #660000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.social-icons a:hover {
    opacity: 0.7;
}
